<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.651391756470-6844lut70ldjg7b9isqm49thvmsu5bha</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>651391756470-6844lut70ldjg7b9isqm49thvmsu5bha.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
